<h1>Happy Birthday!</h1>
<p>Enjoy a special discount on your birthday. Use the code: {{discountCode}}</p>
<p>Here are some recommendations for you:</p>
<ul>
  {{#each recommendations}}
    <li>{{this}}</li>
  {{/each}}
</ul>
